<!DOCTYPE html>
<html>
  <head>
    <title>ActionView::Component Storybook Preview</title>
    <link href="https://unpkg.com/@tailwind/css/dist/tailwind.css" rel="stylesheet" />
  </head>
  <body>
    <div class="d-flex flex-justify-center">
      <%= yield %>
    </div>
  </body>
</html>
